global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    user haproxy
    group haproxy

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# Статистика HAProxy
listen stats
    bind *:888
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
    stats realm Haproxy\ Statistics
    stats auth admin:strongpassword  # Задайте свой логин и пароль

# Фронтенд для HTTP-балансировки
frontend http_front
    bind *:8080
    acl is_example_local hdr(host) -i example.local
    use_backend weighted_backend if is_example_local
    default_backend default_backend

# Бэкенд с балансировкой Weighted Round Robin
backend weighted_backend
    balance roundrobin
    server s1 127.0.0.1:8001 weight 2 check
    server s2 127.0.0.1:8002 weight 3 check
    server s3 127.0.0.1:8003 weight 4 check

# Бэкенд по умолчанию
backend default_backend
    balance roundrobin
    server default_server 127.0.0.1:8004 check